:root {
	--tm-accent: 67, 181, 129; /* R, G, B of accent-color */
	--tm-titlebar-opacity: 0.8; /* Titlebar Opacity */
	--tm-guilds-opacity: 0.75; /* Guilds  Opacity */
	--tm-messages-opacity: 0.5; /* Message Bubble Opacity */
	--tm-chat-opacity: 0.75; /* Chat BG Opacity */
	--tm-chatbox-opacity: 0.75; /* Chatbox Opacity */
	--tm-memberlist-opacity: 0.75; /* Memberlist Opacity */
	--tm-channels-opacity: 0.75; /* Channel List Opacity */
	--tm-modal-opacity: 0.75; /* Modal Opacity */
	--tm-popout-opacity: 0.95; /* Popout Opacity */
	--tm-selected-item: rgba(30,30,30, 0.7); /* Selected Channel/Server Color */
	--tm-hover: rgba(255,255,255,0.05); /* Hover Channel/Server Color */
	--tm-active: rgba(255,255,255,0.1); /* Clicking Channel/Server Color */
	--tm-version: "TransientMaterial v1.2.5"; /* Current Version */
	--tm-solo: 0;
}

#app-mount {
	background-image: url("https://i.imgur.com/kaukr76.png");
	background-size: cover !important;
	background-position: center !important;
}

/* Fixes nonsense glitches */
html, span:not(.spinner-item) {
    backface-visibility: hidden;
}

.backdrop-1ocfXc, .bda-backdrop {
	background: #000 !important;
	opacity: 0.9 !important;
}

[class*="theme-"] .layers-3iHuyZ, [class*="theme-"] .layer-3QrUeG,
[class*="theme-"] .ui-standard-sidebar-view,
[class*="theme-"] .chat-3bRxxu,
.chat-3bRxxu>.titleWrapper-1l0xT9>.title-3qD0b-,
.messages-3amgkR.scroller, 
.messagesWrapper-3lZDfY .messages-3amgkR .message-group:not(.has-divider),
[class*="theme-"] .messagesWrapper-3lZDfY, #friends .friends-table,
.container-2Rl01u, [class*="theme-"] .chat-3bRxxu>.content-yTz4x3,
.flex-horizontal>.flex-spacer:not(.private-channel-call-participants),
.channels-Ie2l6A, .container-PNkimc,
[class*="theme-"] .inner-zqa7da, .theme-dark .inner-zqa7da,
.container-2lgZY8 {
    background: transparent !important;
}

/* Title Bar + Account Status */
.titleBar-AC4pGV {
	background: rgba(25,25,25, var(--tm-titlebar-opacity)) !important;
	margin-top: 0;
	padding-top: 4px;
}

.chat-3bRxxu .titleWrapper-1l0xT9, #friends > .headerBar-UHpsPw, .header-2o-2hj, .container-2Thooq {
    background: rgba(20,20,20, var(--tm-titlebar-opacity)) !important;
}

.header-2o-2hj:hover {
	background: rgba(10,10,10, var(--tm-titlebar-opacity)) !important;
}

.theme-dark .search .search-bar {
    background-color: rgba(255,255,255, 0.1);
}

.container-2Thooq {
	min-height: calc((1 - var(--tm-solo)) * 70px);
	padding-top: calc(var(--tm-solo) * 1px);
	padding-bottom: calc(var(--tm-solo) * 1px);
}
/* End Title Bar + Account Status */


/* Guilds Wrapper */
.guildsWrapper-5TJh6A {
	background: rgba(48,48,48, var(--tm-guilds-opacity)) !important;   
}

.guildsWrapper-5TJh6A .guilds-1q_RqH.scroller {
	padding: 18px 0;
}

.guildsWrapper-5TJh6A .guild-1EfMGQ {
	margin-left: 10px;
}

/* .guildsWrapper-5TJh6A .guilds-1q_RqH .guild {
	height: 64px;
	width: 70px;
	margin: 0;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild .guildInner-3DSoA4 a {
	width: 100%;
	height: 64px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild .badge {
	bottom: 12px;
} */

.guildsWrapper-5TJh6A .guilds-1q_RqH .friends-online {
	width: auto;
	transform: none;
	margin-left: 0;
}

#bd-pub-button:hover {
	background: var(--tm-hover);
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 a:hover::before {
	background: var(--tm-hover);
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 a:active::before {
	background: var(--tm-active);
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq .guildInner-3DSoA4 a:hover::before,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq .guildInner-3DSoA4 a::before {
    background: var(--tm-selected-item) !important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4[style*="background-color: rgb(47, 49, 54);"],
.guildsWrapper-5TJh6A .guildsAdd-21_IdK, .guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1::after,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.guild-sorter .guildInner-3DSoA4 {
	background: transparent !important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.guild-sorter {
	margin: 0;
	width: auto;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.guild-sorter .guildInner-3DSoA4 {
	border-radius: 0 !important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.guild-sorter .guildInner-3DSoA4,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.guild-sorter .guildInner-3DSoA4 a {
	margin: 0 !important;
    width: 100%;
    height: auto;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1 {
	width: auto;
	margin: 10px 0;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr::before,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq::before {
	height: 50px;
    width: 50px;
    padding: 2px;
    top: -4px;
    margin-top: 0;
    left: -4px;
    background: transparent;
    border-radius: 50%;
	border: 2px solid white;
	transition: border-radius .15s ease-out;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq::before,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:hover::before {
    border-radius: 20px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ+.guild-1EfMGQ {
    margin-top: calc(var(--tm-solo) * 14px);
}

/* End Guilds Wrapper */


/* Channel List */
.channels-Ie2l6A .scroller-2FKFPG {
	background: rgba(33,33,33, var(--tm-channels-opacity)) !important;   
}

.contentSelectedText-3wUhMi,
.contentSelectedVoice-1WDIBM {
    background: var(--tm-selected-item) !important;
}

.private-channels .channel:hover a,
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO {
    background: var(--tm-hover);
}

.private-channels .channel a:active,
.contentHoveredText-2D9B-x:active,
.contentHoveredVoice-3p_NEO:active {
	background: var(--tm-active);
}
/* End Channel List */


/* Messages */
.message-group {
    border: none;
    padding: 7px 0px;
    margin-left: 0px;
    padding-left: 20px;
}

.message-group:last-of-type {
    margin-bottom: 30px!important;
}

.comment {
	background: rgba(0,0,0, var(--tm-messages-opacity)) !important;
	padding: 0px 7px 10px 10px;
	padding-top: calc(var(--tm-solo) * 10px);
	border-radius: 3px; 
}

.comment::before {
    border-color: transparent rgba(0, 0, 0, var(--tm-messages-opacity)) transparent transparent;
}

.messagesWrapper-3lZDfY .messages-3amgkR .divider span {
	background: rgba(0,0,0, var(--tm-messages-opacity)) !important;
}

.messages-3amgkR.scroller, .content-yTz4x3 > .theme-dark {
    background: rgba(48,48,48, var(--tm-chat-opacity)) !important;
}

.chat-3bRxxu form {
    background: rgba(58,58,58,var(--tm-chatbox-opacity)) !important;
    margin: 0;
    padding: 0;
    border: none !important;
}

.inner-zqa7da .textArea-2Spzkt:focus, .inner-zqa7da:hover .textArea-2Spzkt {
	opacity: 0.64!important;
}

.channelTextArea-1LDbYG {
	margin: calc(5px * var(--tm-solo)) 0;
	border: none!important;
}

.chat-3bRxxu form .typing-2GQL18 {
    background: rgba(51,51,51, 0.5) !important;
    top: -30px;
    margin-left: 28px;
    padding: 2px 7px 2px 7px;
    width: auto;
    border-radius: 3px 3px 0 0;
}

.messagesWrapper-3lZDfY .messages-3amgkR .divider span {
	background: rgba(43,43,43, 0.7);
}

.theme-dark .message-group .comment .markup pre {
	background: rgba(33,33,33, 0.85) !important;
	border-color: rgba(20,20,20, 0.7) !important;
	border-radius:  0;
}

.messagesWrapper-3lZDfY .messages-3amgkR .message-group .comment .markup pre code {
	background: transparent !important;
}

.message-group .embed {
	background: rgba(33,33,33, 0.85) !important;
}

.messages-3amgkR .divider {
    margin: 30px 6px 30px 20px;
}

/* .horizontal-2EEEnY {
    align-items: center;
} */

/* .textArea-2Spzkt {
	padding: 26px 0px;
	padding-top: calc((-8px * var(--tm-solo)) + 26px);
	padding-bottom: calc((-8px * var(--tm-solo)) + 26px);
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin: 0;
    min-height: 18px;
} */
/* End Messages */


/* Autocomplete */
[class*="theme-"] .autocomplete-1vrmpx {
	background: rgba(37,37,37,0.95) !important; /*0.85*/
}

[class*="theme-"] .selectorSelected-1_M1WV {
	background: var(--tm-selected-item) !important;
}
/* End Autocomplete */


/* Member List */
.membersWrap-2h-GB4 .scrollerWrap-2lJEkd.scrollerFade-1Ijw5y {
	background: transparent!important;
}

.theme-dark .members-1998pB,
.theme-dark .channel-members-loading {
	background: rgba(33,33,33, var(--tm-memberlist-opacity)) !important;   
}

/* End Member List */


/* Friends/DMs */
.private-channels {
	background: transparent !important;   
}

#friends {
	background: transparent !important;
}

#friends .friends-table {
	margin-top: 0;
}

#friends .friends-table .friends-table-body,
#friends .friends-table .friends-table-header,
.scroller-wrap.fade.light {
	background: rgba(48,48,48, 0.7) !important;   
}

#friends .friends-table .friends-row:hover {
	background: var(--tm-selected-item) !important;
}

#friends .friends-table .friends-row .friends-column-actions .friends-action {
	background-color: rgba(20,20,20, 0.7) !important;
}

.private-channels .scrollerWrap-2lJEkd::before {
	background: rgba(20,20,20, var(--tm-titlebar-opacity));
}

#friends .friends-table .friend-table-add-wrapper .friend-table-add-header {
	background: rgba(20,20,20, 0.7)!important;
}

#friends .friends-table .friend-table-add-wrapper .friend-table-suggestions-header{
	background: rgba(37,37,37, 0.7)!important;
}

.private-channels .channel.selected a {
    background: rgba(20,20,20, 0.7) !important;
}

.private-channels .search-bar input:focus {
	background: rgba(55,55,55,0.9);
}

.theme-dark #friends .friends-header .tab-bar .tab-bar-item:hover:not(.selected) {
	background: var(--tm-hover);
}

#friends .friends-table .friends-row {
	background: transparent;
}
/* End Friends/DMs */


/* Popouts */
.messages-popout-wrap, .search-popout {
	background: rgba(33,33,33, var(--tm-popout-opacity))!important;
}

.messages-popout-wrap .header, .popout-bottom .popout-menu,
.search-results-wrap, .search-results-wrap .search-header,
.messages-popout-wrap .footer {
    background: rgba(20,20,20, var(--tm-popout-opacity))!important;
}

.popout-bottom .popout-menu .popout-menu-item:hover, .guild-header header:hover {
	background: rgba(10,10,10, var(--tm-popout-opacity)) !important;
}

.search-popout .option.selected {
	background: var(--tm-hover) !important;
}
.search-popout .option::after, .search-popout .option.selected::after {
	background: transparent;
}

/* status picker */
.popout.popout-top {
	box-shadow: none;
}

.container-2Thooq .avatar-small+.accountDetails-3k9g4n::before,
.menu-Sp6bN1.alt-3btY0e {
    background: rgba(20,20,20, var(--tm-popout-opacity));
}

.menu-Sp6bN1.alt-3btY0e .separator-2zcjq8,
.menu-Sp6bN1.alt-3btY0e .item-1GzJrl .helper-2c73HK {
	display: none;
}

.menu-Sp6bN1 .item-1GzJrl:hover {
    background-color: var(--tm-hover);
}

/* User Popout */
.userPopout-3XzG_A {
	background: transparent;
}

.userPopout-3XzG_A .header-2BwW8b {
	background-color: rgba(33,33,33, var(--tm-popout-opacity));
}

.userPopout-3XzG_A .body-3iLsc4 {
	background: rgba(48,48,48, var(--tm-popout-opacity));
}

.userPopout-3XzG_A .footer-1fjuF6 {
	background: rgba(56, 56, 56, var(--tm-popout-opacity));
}

.userPopout-3XzG_A .quickMessage-2XpSaN {
	background: transparent;
}

.userPopout-3XzG_A .quickMessage-2XpSaN:focus {
	background: rgba(58, 58, 58, 0.5);
}
/* End Popouts */


/* Search Results */
[class*="theme-"] .search-results-wrap .search-result .hit {
	background: rgba(48,48,48,0.85) !important;
	box-shadow: none !important;
}
[class*="theme-"] .search-results-wrap .search-result::before, [class*="theme-"] .search-results-wrap .search-result::after {
	background: none !important;
}
/* End Section */


/* Quickswitch */
.quickswitcher-3JagVE .input-2VB9rf {
	background: rgba(48,48,48,0.7) !important;
}

.quickswitcher-3JagVE {
	background: rgba(33,33,33, 0.7) !important;
}

.quickswitcher-3JagVE .resultFocused-3aIoYe.result-oB0z-- {
	background: var(--tm-selected-item) !important;
}
/* End Section */


/* Channel Notices */
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u {
	background: rgba(33,33,33, 0.7) !important;
}

.header-toolbar .toolbar-badge {
    border-width: 0 !important;
    top: 5px !important;
    right: 5px !important;
    background: var(--tm-selected-item) !important;
}

.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4,
.channelNotices-41mJbj .channelNotice-1-XFjC.invite-OjTXrW {
	background-color: rgba(33,33,33, var(--tm-channels-opacity)) !important;
	box-shadow: none;
}
/* End Section */


/* Help Modal */
.need-help-modal.deprecated .header {
	background: rgba(20,20,20, var(--tm-modal-opacity)) !important;
}

.modal-content.need-help-modal .form-inner {
	background: rgba(33,33,33, var(--tm-modal-opacity)) !important;
}

.need-help-modal.deprecated .footer {
	background: rgba(37,37,37, var(--tm-modal-opacity)); /*0.85*/
}

.root-SR8cQa {
	background: transparent;
}

.root-SR8cQa .topSectionPlaying-1J5E4n,
.root-SR8cQa .topSectionNormal-2-vo2m,
.root-SR8cQa .topSectionSpotify-1lI0-P,
.root-SR8cQa .topSectionStreaming-1Tpf5X {
	background-color: rgba(33,33,33, var(--tm-modal-opacity));
}

.root-SR8cQa .tabBarContainer-1s1u-z {
	background: rgba(33,33,33, var(--tm-modal-opacity));
}
.root-SR8cQa .body-3ND3kc {background: rgba(48,48,48, var(--tm-modal-opacity)) !important;}
.root-SR8cQa .scrollerWrap-2lJEkd .scroller-2FKFPG {
	background: transparent!important;
}
/* End Section */


/* Context Menu */
.theme-dark.contextMenu-HLZMGh {
	background: rgba(20,20,20, var(--tm-popout-opacity))!important;
	border-radius: 3px;
}

.contextMenu-HLZMGh .itemGroup-1tL0uz {
	border: none;
}

.contextMenu-HLZMGh .itemSubMenu-1vN_Yn {
	background-color: transparent;
}

.contextMenu-HLZMGh .item-1Yvehc {
	border-radius: 0;
	margin: 0;
	padding: 9px 15px;
	cursor: pointer;
}

.contextMenu-HLZMGh .item-1Yvehc:hover {
	background: var(--tm-hover);
}
/* End Context Menu */


/* Settings */
[class*="theme-"] .ui-standard-sidebar-view .content-region {
    background: rgba(33,33,33, 0.7) !important;
}

.container-1UB9sr,
[class*="theme-"] .ui-standard-sidebar-view .sidebar-region {
	background: rgba(20,20,20, 0.7) !important;
}

.connect-account-btn{
    background: var(--tm-selected-item) !important;
}

[class*="theme-"] .cardPrimaryEditable-3KtE4g, [class*="theme-"] .cardPrimaryOutline-29Ujqw, .ui-radiogroup .radio-item, [class*="theme-"] .cardPrimary-1Hv-to, [class*="theme-"] .ui-card-primary.editable, [class*="theme-"] .ui-card-primary {
	background: rgba(41,41,41,0.7);   
}

.bda-slist li {
    background: rgba(41,41,41,0.7) !important;
}

.ui-standard-sidebar-view #bd-settingspane-container .content-column.default .bda-slist::before,
#bd-settings-sidebar .ui-tab-bar-item.selected, [class*="theme-"] #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary.selected .badge,
[class*="theme-"] #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected),
[class*="theme-"] #friends .friends-header .tab-bar .tab-bar-item.selected .badge,
.form.deprecated .btn-primary, .form.deprecated .btn-primary:hover, .private-channel-recipients-invite .footer button,
.private-channel-recipients-invite .footer button:hover, .private-channel-recipients-invite .error-state.not-friends .btn:hover,
.private-channel-recipients-invite .error-state.not-friends .btn, #friends .btn, [class*="theme-"] #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary,
.ui-standard-sidebar-view .bda-slist .bda-right button, .itemDefaultSelected-1UAWLe, .itemDefaultSelected-1UAWLe:active, .ui-tab-bar.SIDE .ui-tab-bar-item.selected,
.ui-tab-bar.SIDE .ui-tab-bar-item:active, .ui-slider .slider-bar-fill, ._3Mv0RaJ0, ._3Mv0RaJ0:hover, .ui-standard-sidebar-view .bda-slist li button,
.buttonBrandFilled-3Mv0Ra, .buttonBrandFilled-3Mv0Ra:hover, .ui-button.brand.filled, .ui-button.brand.filled:hover,
.create-guild-container.deprecated .action:hover.create .btn, .region-select:hover button, .slider-bar-fill, .form .btn-primary:hover, .form .btn-primary,
.ui-standard-sidebar-view #bd-settingspane-container .content-column.default .bda-slist::after, .itemDefaultSelected-1UAWLe,
.cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218);"], .radio-item.checked[style*="background-color: rgb(114, 137, 218);"], [class*="theme-"] .ui-card-primary.checked {
    /* opacity: 0.85; */
    background: rgba(var(--tm-accent), 0.7) !important;
    border: none !important;
}

.barFill-23-gu- {
	background: rgba(var(--tm-accent), 0.7) !important;
}

.cardWarning-2yPNAa {
    background: rgba(250,166,26,0.7);
    border-color: rgba(250,166,26,0.7);
}

.ui-standard-sidebar-view #bd-settingspane-container .content-column.default .bda-slist::before {
    background: rgba(67,181,129, 0.7);
}

[class*="theme-"] .ui-select .is-focused .Select-control, [class*="theme-"] .ui-select .Select-control {
    background: rgba(53,53,53,0.7);
    border-color: rgba(57,57,57,0.7);
}

[class*="theme-"] .user-settings-games .now-playing {
    background: rgba(67,181,129,0.7);
}

.cardPrimaryEditable-3KtE4g[style*="background-color: rgb(240, 71, 71);"] {
	background: rgba(240, 71, 71, 0.7) !important;   
}

.cardPrimaryEditable-3KtE4g[style*="background-color: rgb(67, 181, 129);"] {
    background: rgba(67, 181, 129, 0.7) !important;
}

.cardPrimaryEditable-3KtE4g[style*="background-color: rgb(250, 166, 26);"] {
	background: rgba(250, 166, 26, 0.7) !important;
}

.connection[style*="background-color: rgb(24, 35, 50)"] {
    background: rgba(24, 35, 50, 0.7) !important;
}

.connection[style*="background-color: rgb(0, 157, 215)"] {
    background: rgba(0, 157, 215, 0.7) !important;
}

.connection[style*="background-color: rgb(95, 153, 207)"] {
	background: rgba(95, 153, 207, 0.7) !important;
}

.connection[style*="background-color: rgb(29, 161, 242)"] {
	background: rgba(29, 161, 242, 0.7) !important;
}

#bd-settings-sidebar>span>span::after {
    content: var(--version) " " var(--tm-version);
}
/* End Section */



::-webkit-scrollbar-thumb,
#autocomplete-popout .autocomplete-scroller::-webkit-scrollbar-thumb,
.modal-3HD5ck .reactors-Blmlhw .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scroller-2FKFPG.sidebar-region-scroller::-webkit-scrollbar-thumb,
.private-channels .scroller::-webkit-scrollbar-thumb,
.channels-Ie2l6A .scroller-2v3d_F::-webkit-scrollbar-thumb,
.emoji-picker .scroller::-webkit-scrollbar-thumb,
.channel-members::-webkit-scrollbar-thumb,
.scroller-2FKFPG.scroller-2v3d_F::-webkit-scrollbar-thumb,
.channel-members-wrap .channel-members::-webkit-scrollbar-thumb,
.ui-popout-list .scroller-2CvAgC::-webkit-scrollbar-thumb,
.ui-standard-sidebar-view .content-region-scroller::-webkit-scrollbar-thumb,
.user-popout .section.roles::-webkit-scrollbar-thumb,
.ui-standard-sidebar-view .scroller::-webkit-scrollbar-thumb,
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border: 4px solid transparent !important;
    background-color: rgba(225, 225, 225, 0.1) !important;
    display: initial;
	border-radius: 7px !important;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active,
#autocomplete-popout .autocomplete-scroller::-webkit-scrollbar-thumb:active,
.modal-3HD5ck .reactors-Blmlhw .scroller-2FKFPG::-webkit-scrollbar-thumb:active,
.scroller-2FKFPG.sidebar-region-scroller::-webkit-scrollbar-thumb:active,
.private-channels .scroller::-webkit-scrollbar-thumb:active,
.channels-Ie2l6A .scroller-2v3d_F::-webkit-scrollbar-thumb:active,
.emoji-picker .scroller::-webkit-scrollbar-thumb:active,
.channel-members::-webkit-scrollbar-thumb:active,
.scroller-2FKFPG.scroller-2v3d_F::-webkit-scrollbar-thumb:active,
.channel-members-wrap .channel-members::-webkit-scrollbar-thumb:active,
.ui-popout-list .scroller-2CvAgC::-webkit-scrollbar-thumb:active,
.ui-standard-sidebar-view .content-region-scroller::-webkit-scrollbar-thumb:active,
.user-popout .section.roles::-webkit-scrollbar-thumb:active,
.ui-standard-sidebar-view .scroller::-webkit-scrollbar-thumb:active
.scroller-wrap .scroller::-webkit-scrollbar-thumb:active {
	border-radius: 7px !important;
}

::-webkit-scrollbar-track-piece,
#autocomplete-popout .autocomplete-scroller::-webkit-scrollbar-track-piece,
.modal-3HD5ck .reactors-Blmlhw .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.scroller-2FKFPG.sidebar-region-scroller::-webkit-scrollbar-track-piece,
.private-channels .scroller::-webkit-scrollbar-track-piece,
.channels-Ie2l6A .scroller-2v3d_F::-webkit-scrollbar-track-piece,
.emoji-picker .scroller::-webkit-scrollbar-track-piece,
.channel-members::-webkit-scrollbar-track-piece,
.scroller-2FKFPG.scroller-2v3d_F::-webkit-scrollbar-track-piece,
.channel-members-wrap .channel-members::-webkit-scrollbar-track-piece,
.ui-popout-list .scroller-2CvAgC::-webkit-scrollbar-track-piece,
.ui-standard-sidebar-view .content-region-scroller::-webkit-scrollbar-track-piece,
.user-popout .section.roles::-webkit-scrollbar-track-piece,
.ui-standard-sidebar-view .scroller::-webkit-scrollbar-track-piece,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0) !important;
	border-width: 0 !important;
}

::-webkit-scrollbar,
#autocomplete-popout .autocomplete-scroller::-webkit-scrollbar,
.modal-3HD5ck .reactors-Blmlhw .scroller-2FKFPG::-webkit-scrollbar,
.scroller-2FKFPG.sidebar-region-scroller::-webkit-scrollbar,
.private-channels .scroller::-webkit-scrollbar,
.channels-Ie2l6A .scroller-2v3d_F::-webkit-scrollbar,
.emoji-picker .scroller::-webkit-scrollbar,
.channel-members::-webkit-scrollbar,
.channel-members-wrap .channel-members::-webkit-scrollbar,
.scroller-2FKFPG.scroller-2v3d_F::-webkit-scrollbar,
.ui-popout-list .scroller-2CvAgC::-webkit-scrollbar,
.ui-standard-sidebar-view .content-region-scroller::-webkit-scrollbar,
.user-popout .section.roles::-webkit-scrollbar,
.ui-standard-sidebar-view .scroller::-webkit-scrollbar,
.scroller-wrap .scroller::-webkit-scrollbar {
	width: 13px;
	background: transparent !important;   
}
