.theme-dark .chat{background: transparent;}

.layers, .layer, .theme-dark .ui-standard-sidebar-view { background: transparent !important; }

.channels-wrap, .container-RYiLUQ,
.channel-members, .private-channels,
.guilds-wrapper .guilds .guild.selected .guild-inner a:hover::before, .guilds-wrapper .guilds .guild.selected .guild-inner a::before,
.theme-dark .ui-standard-sidebar-view .content-region {
    background: rgba(33,33,33, 0.5) !important;
}

.guilds-wrapper, .theme-dark .chat>.content,
.chat .messages, #friends,
#friends .friends-table .friends-table-body,
#friends .friends-table .friends-table-header,
.flex-horizontal>.flex-spacer:not(.private-channel-call-participants), 
.scroller-wrap.fade.light {
	background: rgba(48,48,48, 0.5) !important;   
}

.header-1tSljs, .container-iksrDt,
.contentSelectedText-3j5CXt,
.private-channels .channel.selected a,
.private-channels .search-bar,
.contentSelectedVoice-gTtYM9, .container-3lnMWU,
.theme-dark .ui-standard-sidebar-view .sidebar-region,
.search-popout .option.selected,
.connect-account-btn, .quickswitcher.dark .result.selected,
.toolbar-badge, .channel-notices .channel-notice.invite {
    background: rgba(20,20,20, 0.5) !important;
}

.chat .title-wrap, #friends .friends-header {
	background: rgba(20,20,20, 0.722) !important;   
}

.chat>.title-wrap>.title, .messages.scroller, 
.messages-wrapper .messages .message-group:not(.has-divider),
.theme-dark .messages-wrapper, #friends .friends-table,
.container-3NvGrL{
    background: transparent !important;
}

.comment {
	background: rgba(0,0,0, 0.2) !important;   
}

.theme-dark .messages-wrapper {
	background: rgba(48,48,48, 0) !important;
}

::-webkit-scrollbar-thumb,
#autocomplete-popout .autocomplete-scroller::-webkit-scrollbar-thumb,
.modal-3HOjGZ .reactors-2PjMP0 .scroller-fzNley::-webkit-scrollbar-thumb,
.scroller-fzNley.sidebar-region-scroller::-webkit-scrollbar-thumb,
.private-channels .scroller::-webkit-scrollbar-thumb,
.channels-wrap .scroller-NXV0-d::-webkit-scrollbar-thumb,
.emoji-picker .scroller::-webkit-scrollbar-thumb,
.channel-members::-webkit-scrollbar-thumb,
.scroller-fzNley.scroller-NXV0-d::-webkit-scrollbar-thumb,
.channel-members-wrap .channel-members::-webkit-scrollbar-thumb {
	border: 4px solid rgba(255, 255, 255, 0) !important;
    background-color: rgba(225, 225, 225, 0.1) !important;
    display: initial;
	border-radius: 7px !important;
}

::-webkit-scrollbar-thumb:active,
#autocomplete-popout .autocomplete-scroller::-webkit-scrollbar-thumb:active,
.modal-3HOjGZ .reactors-2PjMP0 .scroller-fzNley::-webkit-scrollbar-thumb:active,
.scroller-fzNley.sidebar-region-scroller::-webkit-scrollbar-thumb:active,
.private-channels .scroller::-webkit-scrollbar-thumb:active,
.channels-wrap .scroller-NXV0-d::-webkit-scrollbar-thumb:active,
.emoji-picker .scroller::-webkit-scrollbar-thumb:active,
.channel-members::-webkit-scrollbar-thumb:active,
.scroller-fzNley.scroller-NXV0-d::-webkit-scrollbar-thumb:active,
.channel-members-wrap .channel-members::-webkit-scrollbar-thumb:active {
	border-radius: 7px !important;
}

::-webkit-scrollbar-track-piece,
#autocomplete-popout .autocomplete-scroller::-webkit-scrollbar-track-piece,
.modal-3HOjGZ .reactors-2PjMP0 .scroller-fzNley::-webkit-scrollbar-track-piece,
.scroller-fzNley.sidebar-region-scroller::-webkit-scrollbar-track-piece,
.private-channels .scroller::-webkit-scrollbar-track-piece,
.channels-wrap .scroller-NXV0-d::-webkit-scrollbar-track-piece,
.emoji-picker .scroller::-webkit-scrollbar-track-piece,
.channel-members::-webkit-scrollbar-track-piece,
.scroller-fzNley.scroller-NXV0-d::-webkit-scrollbar-track-piece,
.channel-members-wrap .channel-members::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0) !important;
}

::-webkit-scrollbar,
#autocomplete-popout .autocomplete-scroller::-webkit-scrollbar,
.modal-3HOjGZ .reactors-2PjMP0 .scroller-fzNley::-webkit-scrollbar,
.scroller-fzNley.sidebar-region-scroller::-webkit-scrollbar,
.private-channels .scroller::-webkit-scrollbar,
.channels-wrap .scroller-NXV0-d::-webkit-scrollbar,
.emoji-picker .scroller::-webkit-scrollbar,
.channel-members::-webkit-scrollbar,
.channel-members-wrap .channel-members::-webkit-scrollbar,
.scroller-fzNley.scroller-NXV0-d::-webkit-scrollbar {
	background: transparent !important;   
}

.messages-popout-wrap, .search-popout {
	background: rgba(33,33,33,0.85)!important;
}

.messages-popout-wrap .header, .popout-bottom .popout-menu,
.search-results-wrap, .search-results-wrap .search-header,
.messages-popout-wrap .footer {
    background: rgba(20,20,20,0.6)!important;
}

.theme-dark .inner-3if5cm {
    background: rgba(58,58,58,0.6) !important;
}
.content form {
    background: transparent !important;
}

.popout-bottom .popout-menu .popout-menu-item:hover, .header-1tSljs:hover, .guild-header header:hover {
	background: rgba(10,10,10, 0.6) !important;
}

.theme-dark .search-results-wrap .search-result .hit {
	background: rgba(48,48,48,0.85) !important;
	box-shadow: none !important;
}

.theme-dark .cardPrimaryEditable-2IQ7-V, .theme-dark .cardPrimaryOutline-2YyAz2, .ui-radiogroup .radio-item, .theme-dark .cardPrimary-ZVL9Jr, .theme-dark .ui-card-primary.editable, .theme-dark .ui-card-primary {
	background: rgba(41,41,41,0.7);   
}

.bda-slist li {
    background: rgba(41,41,41,0.7) !important;
}

#bd-settings-sidebar .ui-tab-bar-item.selected, .theme-dark #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary.selected .badge, .theme-dark #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected), .theme-dark #friends .friends-header .tab-bar .tab-bar-item.selected .badge, .popout header, .form.deprecated .btn-primary, .form.deprecated .btn-primary:hover, .private-channel-recipients-invite .footer button, .private-channel-recipients-invite .footer button:hover, .private-channel-recipients-invite .error-state.not-friends .btn:hover, .private-channel-recipients-invite .error-state.not-friends .btn, #friends .btn, .theme-dark #friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary, .ui-standard-sidebar-view .bda-slist .bda-right button, .itemDefaultSelected-1UAWLe, .itemDefaultSelected-1UAWLe:active, .ui-tab-bar.SIDE .ui-tab-bar-item.selected, .ui-tab-bar.SIDE .ui-tab-bar-item:active, .ui-slider .slider-bar-fill, .ui-switch-wrapper:not(.disabled):not(.clear):hover .ui-switch-checkbox:checked+.ui-switch, .ui-switch-checkbox:checked+.ui-switch, ._3Mv0RaJ0, ._3Mv0RaJ0:hover, .ui-standard-sidebar-view .bda-slist li button, .buttonBrandFilled-3Mv0Ra, .buttonBrandFilled-3Mv0Ra:hover, .ui-button.brand.filled, .ui-button.brand.filled:hover, .create-guild-container.deprecated .action:hover.create .btn, .region-select:hover button, .slider-bar-fill, .form .btn-primary:hover, .form .btn-primary,
.ui-standard-sidebar-view #bd-settingspane-container .content-column.default .bda-slist::after, .itemDefaultSelected-1UAWLe, .cardPrimaryEditable-2IQ7-V[style*="background-color: rgb(114, 137, 218);"], .radio-item.checked[style*="background-color: rgb(114, 137, 218);"], .theme-dark .ui-card-primary.checked {
    opacity: 0.85;
    /*background: var(--accent-color)0f !important;*/
}

.ui-standard-sidebar-view #bd-settingspane-container .content-column.default .bda-slist::after {

}

.cardWarning-31DHBH {
    background: rgba(250,166,26,0.7);
    border-color: rgba(250,166,26,0.7);
}

.ui-standard-sidebar-view #bd-settingspane-container .content-column.default .bda-slist::before {
    background: rgba(67,181,129, 0.7);
}

.theme-dark .ui-select .is-focused .Select-control, .theme-dark .ui-select .Select-control {
    background: rgba(53,53,53,0.7);
    border-color: rgba(57,57,57,0.7);
}

.theme-dark .user-settings-games .now-playing, .theme-light .user-settings-games .now-playing {
    background: rgba(67,181,129,0.7);
}

.cardPrimaryEditable-2IQ7-V[style*="background-color: rgb(240, 71, 71);"] {
	background: rgba(240, 71, 71, 0.7) !important;   
}

.cardPrimaryEditable-2IQ7-V[style*="background-color: rgb(67, 181, 129);"] {
    background: rgba(67, 181, 129, 0.7) !important;
}

.cardPrimaryEditable-2IQ7-V[style*="background-color: rgb(250, 166, 26);"] {
	background: rgba(250, 166, 26, 0.7) !important;
}

.connection[style*="background-color: rgb(24, 35, 50)"] {
    background: rgba(24, 35, 50, 0.7) !important;
}

.connection[style*="background-color: rgb(0, 157, 215)"] {
    background: rgba(0, 157, 215, 0.7) !important;
}

.connection[style*="background-color: rgb(95, 153, 207)"] {
	background: rgba(95, 153, 207, 0.7) !important;
}

.connection[style*="background-color: rgb(29, 161, 242)"] {
	background: rgba(29, 161, 242, 0.7) !important;
}

.chat form .typing {
    background: rgba(51,51,51, 0.7) !important;
}

.quickswitcher.dark .big-input {
	background: rgba(48,48,48,0.7) !important;
}

.channel-notices .channel-notice .message .btn, .quickswitcher.dark {
	background: rgba(33,33,33, 0.7) !important;
}

.header-toolbar .toolbar-badge {
    border-width: 0 !important;
    top: 5px !important;
    right: 5px !important;
}

.channel-notices .channel-notice.quickswitcher-notice {
    background-color: rgba(25,25,25,0.5) !important;
}

.comment::before {
    border-color: transparent rgba(0, 0, 0, .2) transparent transparent;
}

.theme-dark .search-results-wrap .search-result::before, .theme-dark .search-results-wrap .search-result::after {
	background: none !important;
}