//META{"name":"Radial_Status","description":"Changes status dot to a circle. Support Server: bit.ly/ZeresServer","author":"Zerebos","version":"1.2.0"}*//{}


div[class*="avatar-"] div[class*="status"],
#user-profile-modal .status {
    width:100%!important;
    background: transparent;
    border-radius: 50% !important;
    height: 100%!important;
    transition: all 200ms ease !important;
	right: -4px !important;
	bottom: -4px !important;
	padding: 2px !important;
	transition: all 200ms ease !important;
	border: 2px solid #636b75 !important;
}

.theme-dark div[class*="avatar-"] div[class*="online"],
.theme-dark div[class*="avatar-"] div[class*="Online"],
#user-profile-modal div[class*="online"] {
    border-color: #43b581 !important;
}

.theme-dark div[class*="avatar-"] div[class*="idle"],
.theme-dark div[class*="avatar-"] div[class*="Idle"],
#user-profile-modal div[class*="idle"] {
    border-color: #faa61a !important;
}

.theme-dark div[class*="avatar-"] div[class*="dnd"],
.theme-dark div[class*="avatar-"] div[class*="Dnd"],
#user-profile-modal div[class*="dnd"] {
    border-color: #f04747 !important;
}

.theme-dark div[class*="avatar-"] div[class*="streaming"],
.theme-dark div[class*="avatar-"] div[class*="Streaming"],
#user-profile-modal div[class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #643da7 !important;
}

.theme-dark div[class*="avatar-"] div[class*="invisible"],
.theme-dark div[class*="avatar-"] div[class*="Invisible"],
#user-profile-modal div[class*="invisible"] {
    border-color: #747f8d !important;
}

.theme-dark div[class*="avatar-"] div[class*="offline"],
.theme-dark div[class*="avatar-"] div[class*="Offline"],
#user-profile-modal div[class*="offline"] {
    border-color: #636b75 !important;
}

.channel-members .member.member-status-offline .status {
	display: initial !important;
}

.status.status-typing {
    width: 30px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
	right: 0 !important;
}
.status.status-typing .spinner .spinner-inner {
    left: 1px !important;
    top: 1px !important;
}

.theme-dark .user-popout .avatar-popout .status,
.theme-dark #user-profile-modal .avatar-profile .status {
	border-width: 4px !important;
	right: -7px !important;
	bottom: -7px !important;
	padding: 3px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.channel-members .member, #user-profile-modal .guilds .guild {
	padding-bottom: 8px !important;
	padding-top: 8px !important;
}

/* UNCOMMENT FOR BEARD'S THEME
#user-profile-modal .avatar-profile .status {
	zoom: 1 !important;
	-ms-transform: none !important;
	transform: none !important;
}

#user-profile-modal .avatar-wrapper {
	zoom: 1 !important;
	top: 40px !important;
	left: 56px !important;
}

.avatar-profile {
    width: 102px !important;
    height: 102px !important;
    background-size: 102px 102px !important;

.channel-members .member.popout-open .avatar-small,
.channel-members .member:hover .avatar-small {
    -ms-transform: scale(1.15) !important;
    transform: scale(1.15) !important;
}

.channel-members .member .avatar-small {
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
}
*/