div[class*="avatar-"] div[class*="status"],
#user-profile-modal .status {
    width:100%!important;
    background: transparent;
    border-radius: inherit !important;
    height: 100%!important;
    transition: all 200ms ease !important;
	top: -4px !important;
	right: -4px !important;
	bottom: -4px !important;
	left: -4px !important;
	padding: 2px !important;
	transition: all 200ms ease !important;
	border: 2px solid #636b75 !important;
	margin: 0 !important;
}

div[class*="user-info"] div[class*="status"] {
	border: none !important;
}

[class*="theme-"] div[class*="avatar-"] div[class*="online"],
[class*="theme-"] div[class*="avatar-"] div[class*="Online"],
#user-profile-modal div[class*="online"] {
    border-color: #43b581 !important;
}

[class*="theme-"] div[class*="avatar-"] div[class*="idle"],
[class*="theme-"] div[class*="avatar-"] div[class*="Idle"],
#user-profile-modal div[class*="idle"] {
    border-color: #faa61a !important;
}

[class*="theme-"] div[class*="avatar-"] div[class*="dnd"],
[class*="theme-"] div[class*="avatar-"] div[class*="Dnd"],
#user-profile-modal div[class*="dnd"] {
    border-color: #f04747 !important;
}

[class*="theme-"] div[class*="avatar-"] div[class*="streaming"],
[class*="theme-"] div[class*="avatar-"] div[class*="Streaming"],
#user-profile-modal div[class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: #643da7 !important;
}

[class*="theme-"] div[class*="avatar-"] div[class*="invisible"],
[class*="theme-"] div[class*="avatar-"] div[class*="Invisible"],
#user-profile-modal div[class*="invisible"] {
    border-color: #747f8d !important;
}

[class*="theme-"] div[class*="avatar-"] div[class*="offline"],
[class*="theme-"] div[class*="avatar-"] div[class*="Offline"],
#user-profile-modal div[class*="offline"] {
    border-color: #636b75 !important;
}

.channel-members .member.member-status-offline .status {
	display: flex !important;
}

div[class*="avatar-"] div[class*="status"].status-typing {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
	right: 0 !important;
}
div[class*="avatar-"] div[class*="status"].status-typing .spinner .spinner-inner {
    left: 1px !important;
    top: 1px !important;
}

[class*="theme-"] .user-popout .avatar-popout .status,
[class*="theme-"] #user-profile-modal .avatar-profile .status {
	border-width: 4px !important;
	top: -7px !important;
	right: -7px !important;
	bottom: -7px !important;
	left: -7px !important;
	padding: 3px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	box-sizing: content-box;
}

.channel-members .member, #user-profile-modal .guilds .guild {
	padding-bottom: 8px !important;
	padding-top: 8px !important;
}