:root {
    --rs-spacing: 2px; /* spacing between avatar and status */
    --rs-width: 2px; /* width of the status */
    --rs-popout-spacing: 3px; /* spacing between avatar and status for user popouts */
    --rs-popout-width: 4px; /* width of the status for user popouts */
    --rs-profile-spacing: 3px; /* spacing between avatar and status on modals/profiles */
    --rs-profile-width: 4px; /* width of the status on modals/profiles */
    --rs-online-color: #43b581; /* color for online status */
    --rs-idle-color: #faa61a; /* color for idle status */
    --rs-dnd-color: #f04747; /* color for dnd status */
    --rs-offline-color: #636b75; /* color for offline status */
    --rs-invisible-color: #747f8d; /* color for invisible status - Note this will only show for your own invisibility */
    --rs-streaming-color: #643da7; /* color for streaming status */
}

.app {
    --radial-status: 1;
}

[class*="wrapper-"] [class*="status"],
[class*="memberOffline-"] [class*="avatarOffline-"]::after {
    width:100%!important;
    background: transparent;
    border-radius: inherit !important;
    height: 100%!important;
    transition: all 200ms ease !important;
	top: calc(-1*var(--rs-spacing) + -1*var(--rs-width)) !important;
	right: calc(-1*var(--rs-spacing) + -1*var(--rs-width)) !important;
	bottom: calc(-1*var(--rs-spacing) + -1*var(--rs-width)) !important;
	left: calc(-1*var(--rs-spacing) + -1*var(--rs-width)) !important;
	padding: var(--rs-spacing) !important;
	transition: all 200ms ease !important;
	border: var(--rs-width) solid #636b75 !important;
	margin: 0 !important;
	pointer-events: none;
}

[class*="user-info"] [class*="status"] {
	border: none !important;
}

[class*="theme-"] [class*="wrapper-"] [class*="idle"],
[class*="theme-"] [class*="wrapper-"] [class*="Idle"],
.root-2sNHUF [class*="idle"] {
    border-color: var(--rs-idle-color) !important;
}

[class*="theme-"] [class*="wrapper-"] [class*="dnd"],
[class*="theme-"] [class*="wrapper-"] [class*="Dnd"],
.root-2sNHUF [class*="dnd"] {
    border-color: var(--rs-dnd-color) !important;
}

[class*="theme-"] [class*="wrapper-"] [class*="streaming"],
[class*="theme-"] [class*="wrapper-"] [class*="Streaming"],
.root-2sNHUF [class*="streaming"]{
    animation: streaming-flash 1.5s linear infinite !important;
    border-color: var(--rs-streaming-color) !important;
}

[class*="theme-"] [class*="wrapper-"] [class*="online"],
[class*="theme-"] [class*="wrapper-"] [class*="Online"],
.root-2sNHUF [class*="online"] {
    border-color: var(--rs-online-color) !important;
}

[class*="theme-"] [class*="wrapper-"] [class*="invisible"],
[class*="theme-"] [class*="wrapper-"] [class*="Invisible"],
.root-2sNHUF [class*="invisible"] {
    border-color: var(--rs-invisible-color) !important;
}

[class*="theme-"] [class*="wrapper-"] [class*="offline"],
[class*="theme-"] [class*="wrapper-"] [class*="Offline"],
.root-2sNHUF [class*="offline"] {
    border-color: var(--rs-offline-color) !important;
}

[class*="members-"] [class*="memberOffline-"] [class*="status"] {
	display: flex !important;
}

[class*="members-"] [class*="member-"] {
	padding-bottom: calc((var(--rs-spacing) + var(--rs-width))*2) !important;
	padding-top: calc((var(--rs-spacing) + var(--rs-width))*2) !important;
}

[class*="memberOffline-"] [class*="avatarOffline-"]::after {
	content: "";
	position: absolute;
}

[class*="wrapper-"] [class*="status"][class*="typing"] {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
	right: 0 !important;
}
[class*="wrapper-"] [class*="status"][class*="typing"] [class*="spinner"] [class*="inner"] {
    left: 1px !important;
    top: 1px !important;
}

[class*="wrapper-"] [class*="mask"],
[class*="avatarWrapper-"] [class*="mask"] {
	-webkit-mask: none!important;
	mask: none;
}

[class*="theme-"] .userPopout-11hFKo [class*="wrapper-"],
[class*="theme-"] .root-2sNHUF [class*="wrapper-"] {
    border: none;
}

[class*="theme-"] .userPopout-11hFKo .avatar-1BXaQj.popout-UKvsJt [class*="status"],
[class*="theme-"] .root-2sNHUF .header-2Lg0Oe [class*="wrapper-"] [class*="status"] {
	border-width: var(--rs-popout-width) !important;
    top: calc(-1*var(--rs-popout-spacing) + -1*var(--rs-popout-width)) !important;
    right: calc(-1*var(--rs-popout-spacing) + -1*var(--rs-popout-width)) !important;
    bottom: calc(-1*var(--rs-popout-spacing) + -1*var(--rs-popout-width)) !important;
    left: calc(-1*var(--rs-popout-spacing) + -1*var(--rs-popout-width)) !important;
	padding: var(--rs-popout-spacing) !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	box-sizing: content-box;
}

[class*="theme-"] .root-2sNHUF .header-2Lg0Oe [class*="wrapper-"] [class*="status"] {
    border-width: var(--rs-profile-width) !important;
    padding: var(--rs-profile-spacing) !important;
}

[class*="theme-"] .root-2sNHUF [class*="wrapper-"] > a {
	width: inherit;
    height: inherit;
	border-radius: inherit;
    position: absolute;
    z-index: 1;
}