.reply-button {
    margin-left: 6px;
    font-size: 0.75rem;
    opacity: 0;
    transition: opacity 200ms ease;
    cursor: pointer;
    color: white;
}
.reply-icon {
    fill: white;
    vertical-align: top;
}

.theme-light .reply-button {
    color: gray;
}

.theme-light .reply-icon {
    fill: gray;
}

.container-1YxwTf:hover .reply-button {
    opacity: 0.4;
}

.container-1YxwTf .reply:hover {
    opacity: 1;
}

.messageCompact-kQa7ES {
    flex-direction: row;
}

.containerCompact-3V0ioj .reply-button {
    margin: 0;
}

.containerCompact-3V0ioj .reply-button+.contentCompact-1QLHBj time {
    width: 50px;
}

.containerCompact-3V0ioj time {
    width: 65px;
}

.reply-list {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #2f3136;
    padding: 0 18px 5px 5px;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    color: white;
}

@keyframes reply-add {
    from {
        transform: scale(0.5);
    }
}

.reply-item {
    animation: reply-add 200ms;
    transform: scale(1);
    display: flex;
    background: #36393f;
    align-items: center;
    padding: 3px;
    border-radius: 3px;
    font-weight: 500;
    margin-right: 3px;
    margin-top: 5px;
}

.reply-remove {
    fill: white;
    margin-left: 3px;
    margin-top: 3px;
    opacity: 0.4;
    cursor: pointer;
}

.reply-remove:hover {
    opacity: 1;
}

.reply-list-label {
    display: flex;
    align-items: center;
    padding: 3px;
    margin-right: 3px;
    margin-top: 5px;
}

.reply-clear {
    fill: white;
    cursor: pointer;
    opacity: 0.4;
    position: absolute;
    top: 2px;
    right: 2px;
}

.reply-clear:hover {opacity: 1;}