//META{"name":"FixEmoteModifiers","description":"Makes the emote modifiers work again. Support Server: bit.ly/ZeresServer","author":"Zerebos","version":"0.0.1"}*//{}

@keyframes emote-shake2 {
	25% {
		transform: translate(-1px, -1px);
	}

	50% {
		transform: translate(-1px, 1px);
	}

	75% {
		transform: translate(1px, 1px);
	}

	75% {
		transform: translate(1px, -1px);
	}
}

@keyframes emote-shake3 {
	25% {
		transform: translate(-1px, -1px);
	}

	50% {
		transform: translate(-1px, 1px);
	}

	75% {
		transform: translate(1px, 1px);
	}

	75% {
		transform: translate(1px, -1px);
	}
}

@keyframes emote-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes emote-spin-reverse {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
	}
}

@keyframes emote-pulse {
	0% {
		-webkit-transform: scale(1, 1);
	}

	50% {
		-webkit-transform: scale(1.2, 1.2);
	}

	100% {
		-webkit-transform: scale(1, 1);
	}
}

@keyframes emote-shake {
	10%,90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,50%,70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,60% {
		transform: translate3d(4px, 0, 0);
	}
}