#sort-options {
	pointer-events: none;
	opacity: 0;
	transition: 300ms cubic-bezier(.2, 0, 0, 1);
	transform-origin: 0 0;
	transform: translateY(-10px);
}

#sort-options.open {
	pointer-events: initial;
	opacity: 1;
	transition: 300ms cubic-bezier(.2, 0, 0, 1);
	transform-origin: 0 0;
	transform: translateY(0px);
}